@media screen and (min-width:320px){
    footer{
        height: 573px;
        background:
        linear-gradient(to bottom, 
        #222222 0%, #222222 85%,
        #151515 85%,  #151515 100%
        )
    }

    .wrapper {
        width: 281px;
        margin: 0 auto;
        padding: 42px 45px 22px 45px;
      }

    .footer-goit-logo{
        width: 100px;
        height: 27px;
    }

    .footer__text{
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 25px;
        color: #9699a6;
        font-family: 'Ubuntu-Regular';
    }

    .footer-button{
        width: 192px;
        height: 42px;
        display: block;
        background-color: #e9ac38;
        border: none;
        outline: none;
        border-radius: 3px;
        font-size: 16px;
        color: #f6f9fa;
        font-family: 'OpenSans-Bold';
        margin: 27px 0px;
        &:hover{
            background-color: #dc9129;
        }   
    }

    .footer__socials-holder{
        width: 146px;
        display: flex;
        justify-content: space-between;
    }

    .socials-button{
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        &:nth-of-type(1){
            background-color: #6398e0;
            background-image: url(../../images/telegram.png);
        }
        &:nth-of-type(2){
            background-color: #3b4e70;
            background-image: url(../../images/fb.png);
        }
        &:nth-of-type(3){
            background-color: #9f2431;
            background-image: url(../../images/youtube.png);
        }
    }

    .footer-2{
        font-size: 10px;
        color: #626263;
        font-family: 'OpenSans-Bold';
        margin-top: 46px;
    }
}