@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular.ttf'), url('OpenSans-Regular.ttf') format('ttf');
    }

@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light.ttf'), url('OpenSans-Light.ttf') format('ttf');
    }  
    
 @font-face {
     font-family: 'OpenSans-Bold';
     src: local('OpenSans-Bold.ttf'), url('OpenSans-Bold.ttf') format('ttf');
     }     

@font-face {
    font-family: 'OpenSans-Bold';
    src: local('OpenSans-Bold.ttf'), url('OpenSans-Bold.ttf') format('ttf');
     }      

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: local('OpenSans-ExtraBold.ttf'), url('OpenSans-ExtraBold.ttf') format('ttf');
     }      

     @font-face {
        font-family: 'Ubuntu-Regular';
        src: local('Ubuntu-Regular.ttf'), url('Ubuntu-Regular.ttf') format('ttf');
        }
    
    @font-face {
        font-family: 'Ubuntu-Light';
        src: local('Ubuntu-Light.ttf'), url('Ubuntu-Light.ttf') format('ttf');
        }  
        
     @font-face {
         font-family: 'Ubuntu-Medium';
         src: local('Ubuntu-Medium.ttf'), url('Ubuntu-Medium.ttf') format('ttf');
         }     
    
    @font-face {
        font-family: 'Ubuntu-Bold';
        src: local('Ubuntu-Bold.ttf'), url('Ubuntu-Bold.ttf') format('ttf');
         }      
    